@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

body {
  @apply h-full overflow-x-hidden;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

h2 {
  font-size: 60px;
}

table {
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

td {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

th {
  font-weight: 600;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

dt {
  font-weight: 500;
}

dd {
  margin: 0;
  padding: 0 0 0.5em 0;
  font-size: 15px;
}